[submodule "hr"]
	path = custom/oca/hr
	url = https://github.com/OCA/hr.git
	branch = 18.0
[submodule "server-tools"]
	path = custom/oca/server-tools
	url = https://github.com/OCA/server-tools.git
	branch = 18.0
[submodule "account-invoicing"]
	path = custom/oca/account-invoicing
	url = https://github.com/OCA/account-invoicing.git
	branch = 18.0
[submodule "account-financial-tools"]
	path = custom/oca/account-financial-tools
	url = https://github.com/OCA/account-financial-tools.git
	branch = 18.0
[submodule "server-brand"]
	path = custom/oca/server-brand
	url = https://github.com/OCA/server-brand.git
	branch = 18.0
[submodule "account-reconcile"]
	path = custom/oca/account-reconcile
	url = https://github.com/OCA/account-reconcile.git
	branch = 18.0
[submodule "account-analytic"]
	path = custom/oca/account-analytic
	url = https://github.com/OCA/account-analytic.git
	branch = 18.0
[submodule "account-financial-reporting"]
	path = custom/oca/account-financial-reporting
	url = https://github.com/OCA/account-financial-reporting.git
	branch = 18.0
[submodule "payroll"]
	path = custom/oca/payroll
	url = https://github.com/OCA/payroll.git
	branch = 18.0
[submodule "hr-expense"]
	path = custom/oca/hr-expense
	url = https://github.com/OCA/hr-expense.git
	branch = 18.0
[submodule "hr-attendance"]
	path = custom/oca/hr-attendance
	url = https://github.com/OCA/hr-attendance.git
	branch = 18.0
[submodule "hr-holidays"]
	path = custom/oca/hr-holidays
	url = https://github.com/OCA/hr-holidays.git
	branch = 18.0
